<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>sameWindow</string>
		<key>Title</key>
		<string>Open links in same window</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>expandURLs</string>
		<key>Title</key>
		<string>Expand bit.ly URLs</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
